<div class="container-fluid p-5">
  <div class="row">
    <!-- <div class="col-md-2 offset-md-1 text-center" style="margin-top: 100px">
      <app-statistics></app-statistics>
    </div> -->
    <div class="col-md-12">
      <h1 class="text-center text-primary mb-30 mt-2 mb-5">Office Mode</h1>
      <div
        class="bg-body-tertiary rounded-3 border-info border border-primary p-3 p-sm-0 p-md-5"
      >
        <div class="row mb-3">
          <div class="col-md-4 mb-3 mb-md-0">
            <div class="input-group">
              <span class="btn btn-primary">Base</span>
              <input
                [(ngModel)]="entryMode.base"
                class="form-control"
                type="number"
              />
              <input
                class="btn btn-success"
                type="button"
                (click)="setBase()"
                value="Set"
              />
            </div>
          </div>
          <div class="col-md-4 mb-3 mb-md-0">
            <div class="input-group">
              <span class="btn btn-primary">Kill Date</span>
              <input
                [(ngModel)]="entryMode.killDate"
                class="form-control"
                type="date"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group">
              <span class="btn btn-primary">Lot</span>
              <input
                [(ngModel)]="entryMode.lot"
                class="form-control"
                type="text"
                disabled
              />
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4 mb-3 mb-md-0">
            <div class="input-group">
              <button class="btn btn-primary" type="button">Bill To</button>
              <input
                [(ngModel)]="entryMode.billTo"
                class="form-control"
                type="text"
                placeholder="Bill To"
              />
            </div>
          </div>
          <div class="col-md-4 mb-3 mb-md-0">
            <div class="input-group">
              <span class="btn btn-primary">RFID</span>
              <input
                [(ngModel)]="entryMode.rfid"
                (keyup)="validateRFID()"
                class="form-control"
                [ngClass]="{ 'is-invalid': !validRFID }"
                type="text"
              />
              <div class="invalid-feedback">
                <strong>RFID already Exist!</strong>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3 mb-md-0">
            <div class="input-group">
              <span class="btn btn-primary">Animal</span>
              <select
                class="form-select"
                (change)="onChangeAnimal($event)"
                [(ngModel)]="entryMode.animal"
              >
                <option value="">Select Animal</option>
                <option value="Bovine(Beef)">Bovine(Beef)</option>
                <option value="Bovine(Veal)">Bovine(Veal)</option>
                <option value="Lamb">Lamb</option>
                <option value="Sheep">Sheep</option>
                <option value="Goat">Goat</option>
                <option value="Bison">Bison</option>
                <option value="Deer">Deer</option>
                <option value="Elk">Elk</option>
                <option value="Buffalo">Buffalo</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4 mb-3 mb-md-0">
            <div class="input-group">
              <span class="btn btn-primary">OTM</span>
              <select
                class="form-select"
                (change)="onChangeOTM($event)"
                [(ngModel)]="entryMode.otm"
                [disabled]="disableOTM"
              >
                <option value="">Select OTM</option>
                <option value="Y">Yes</option>
                <option value="N">No</option>
              </select>
            </div>
          </div>
          <div class="col-md-4 mb-3 mb-md-0">
            <div class="input-group">
              <button class="btn btn-primary" type="button">Notes</button>
              <input
                [(ngModel)]="entryMode.notes"
                class="form-control"
                type="text"
                placeholder="Notes"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group">
              <span class="btn btn-primary">Sex</span>
              <select class="form-select" (change)="onChangeSex($event)">
                <option value="">Select Sex</option>
                <option value="Steer">Steer</option>
                <option value="Heifer">Heifer</option>
                <option value="Bull">Bull</option>
                <option value="Cow">Cow</option>
                <option value="VCM">VCM</option>
                <option value="VCF">VCF</option>
                <option value="HCM">HCM</option>
                <option value="HCF">HCF</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6 mb-3 mb-md-0">
            <div class="input-group">
              <button class="btn btn-primary" type="button">Weight/Head</button>
              <input
                [(ngModel)]="entryMode.weight"
                class="form-control"
                type="number"
                placeholder="Weight/Head"
              />
            </div>
          </div>
          <div class="col-md-6 mb-3 mb-md-0">
            <div class="input-group">
              <button class="btn btn-primary col-md-2 col-xs-1" type="button">
                Owner
              </button>
              <div class="col-md-10 col-xs-11">
                <input
                  #owner
                  [(ngModel)]="entryMode.owner"
                  class="form-control"
                  type="text"
                  placeholder="Search owner..."
                  (keyup)="filterOwners()"
                  (focus)="showDropdown = true"
                  (blur)="hideDropdownWithDelay()"
                  autocomplete="off"
                />
                <ul
                  *ngIf="showDropdown"
                  class="dropdown-menu show"
                  [ngClass]="{ 'd-none': filteredOwners.length === 0 }"
                >
                  <li
                    *ngFor="let owner of filteredOwners"
                    class="dropdown-item"
                    (click)="selectOwner(owner)"
                  >
                    {{ owner }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6 mb-3 mb-md-0">
            <div class="input-group">
              <button class="btn btn-primary" type="button">Breed</button>
              <angular2-multiselect
                [data]="breedDropdownList"
                [(ngModel)]="breedSelectedItems"
                [settings]="breedDropdownSettings"
              ></angular2-multiselect>
            </div>
          </div>
          <div class="col-md-6 mb-3 mb-md-0">
            <div class="input-group">
              <button class="btn btn-primary" type="button">
                Condemnation
              </button>
              <angular2-multiselect
                [data]="condemnationDropdownList"
                [(ngModel)]="condemnationSelectedItems"
                [settings]="condemnationDropdownSettings"
              ></angular2-multiselect>
            </div>
          </div>
        </div>
        <div class="text-center mt-5 mb-5">
          <button
            class="btn btn-primary btn-block d-md-inline-block"
            style="width: 20%"
            (click)="onSave()"
            [disabled]="!validRFID"
          >
            Save
          </button>
        </div>
      </div>
      <hr />
      <div class="row justify-content-center mt-5">
        <div class="col-md-12 col-xs-10">
          <app-records-table
            componentType="records"
            [records]="records"
            [recordsPerPage]="recordsPerPage"
          ></app-records-table>
        </div>
      </div>
    </div>
  </div>
</div>
<app-print-pdf></app-print-pdf>
