.mb-35-rem{
  margin-bottom: 35rem !important;
}


.spanLabel {
  color: #fff;
  font-size: 1rem;
  padding: 0.6rem;
  padding-x: 0.75rem;
  border-radius: 8px 0 0 8px;
}

.btn-outline-primary-override {
  --bs-btn-color: #446e9b;
  --bs-btn-border-color: #446e9b;
  --bs-btn-hover-border-color: #446e9b;
  --bs-btn-focus-shadow-rgb: 68, 110, 155;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #446e9b;
  --bs-btn-active-border-color: #446e9b;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #446e9b;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #446e9b;
  --bs-gradient: none
}

