<div class="container mt-5">
  <div class="text-primary mt-5 text-center">
    <h1 class="text-primary">
      <strong>Add Record</strong>
    </h1>
  </div>
  <button class="btn btn-primary mb-5">
    <i class="bi bi-arrow-left" (click)="back()" style="font-size: 1.2em">
      Back</i
    >
  </button>
  <div class="row justify-content-center">
    <div class="col-md-6 col-xs-10">
      <table
        class="table table-bordered table-hover table-striped table-responsive"
      >
        <thead>
          <tr>
            <th class="text-primary">Fields</th>
            <th class="text-primary">Values</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>First Name</td>
            <td>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="record.firstName"
              />
            </td>
          </tr>
          <tr>
            <td>Last Name</td>
            <td>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="record.lastName"
              />
            </td>
          </tr>
          <tr>
            <td>Payment Status</td>
            <td>
              <select [(ngModel)]="record.paymentStatus" class="form-control">
                <option value="">Select Payment Status</option>
                <option
                  *ngFor="let status of paymentStatusOptions"
                  [value]="status.key"
                >
                  {{ status.value }}
                </option>
              </select>
            </td>
          </tr>
          <tr>
            <td>Due Date</td>
            <td>
              <input
                type="date"
                class="form-control"
                [(ngModel)]="record.dueDate"
              />
            </td>
          </tr>
          <tr>
            <td>Address Line 1</td>
            <td>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="record.addressLine1"
              />
            </td>
          </tr>
          <tr>
            <td>Address Line 2</td>
            <td>
              <input
                class="form-control"
                type="text"
                [(ngModel)]="record.addressLine2"
              />
            </td>
          </tr>
          <tr>
            <td>Country</td>
            <td>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="record.country"
                placeholder="Search Country..."
                (keyup)="filterCountries()"
                (focus)="showDropdownCountries = true"
                (blur)="hideDropdownWithDelayCountries()"
                autocomplete="off"
              />
              <ul
                *ngIf="showDropdownCountries"
                class="dropdown-menu show"
                [ngClass]="{
                  'd-none': filteredCountries.length === 0,
        
                }"
              >
                <li
                  *ngFor="let country of filteredCountries"
                  class="dropdown-item"
                  (click)="selectCountry(country)"
                >
                  {{ country }}
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Province/State</td>
            <td>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="record.provinceOrState"
                placeholder="Search Province/State..."
                (keyup)="filterStates()"
                (focus)="showDropdownStates = true"
                (blur)="hideDropdownWithDelayStates()"
                autocomplete="off"
              />
              <ul
                *ngIf="showDropdownStates"
                class="dropdown-menu show"
                [ngClass]="{
                  'd-none': filteredStates.length === 0,
        
                }"
              >
                <li
                  *ngFor="let state of filteredStates"
                  class="dropdown-item"
                  (click)="selectStates(state)"
                >
                  {{ state }}
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>City</td>
            <td>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="record.city"
                [ngClass]="{
                  'form-control': true,
                  'is-invalid': invalidForm && !record.city
                }"
                placeholder="Search City..."
                (keyup)="filterCities()"
                (focus)="showDropdownCities = true"
                (blur)="hideDropdownWithDelayCities()"
                autocomplete="off"
              />
              <ul
                *ngIf="showDropdownCities"
                class="dropdown-menu show"
                [ngClass]="{
                  'd-none': filteredCities.length === 0,
        
                }"
              >
                <li
                  *ngFor="let city of filteredCities"
                  class="dropdown-item"
                  (click)="selectCities(city)"
                >
                  {{ city }}
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Postal Code</td>
            <td>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="record.postalCode"
              />
            </td>
          </tr>
          <tr>
            <td>Phone Number</td>
            <td>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="record.phoneNumber"
                required
              />
            </td>
          </tr>
          <tr>
            <td>Email</td>
            <td>
              <input
                type="email"
                class="form-control"
                [(ngModel)]="record.email"
                required
              />
            </td>
          </tr>
          <tr>
            <td>Currency</td>
            <td>
              <input
                class="form-control"
                type="text"
                [(ngModel)]="record.currency"
              />
            </td>
          </tr>
          <tr>
            <td>Discount %</td>
            <td>
              <input
                class="form-control"
                type="text"
                [(ngModel)]="record.discountPercent"
              />
            </td>
          </tr>
          <tr>
            <td>Tax %</td>
            <td>
              <input
                class="form-control"
                type="text"
                [(ngModel)]="record.taxPercent"
              />
            </td>
          </tr>

          <tr>
            <td>Due Amount</td>
            <td>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="record.dueAmount"
              />
            </td>
          </tr>
          <tr>
            <td>Proof of Payment</td>
            <td>
              <input
                class="form-control"
                type="file"
                (change)="onFileChange($event)"
                accept=".pdf, .png, .jpg, .jpeg"
              />
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="d-grid gap-2 col-6 mx-auto">
                <button
                  class="btn btn-primary"
                  (click)="addPayment()"
                  [disabled]="invalidForm"
                >
                  Add Record
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
