<div class="container">
  <div class="row mt-5">
    <div class="col-md-4 col-xs-12">
      <div class="input-group mb-3">
        <span class="btn btn-primary">Base</span>
        <input
          [(ngModel)]="entryMode.base"
          class="form-control"
          type="number"
        />
        <input
          class="btn btn-success"
          type="button"
          (click)="setBase($event)"
          value="Set"
        />
      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="input-group mb-3">
        <span class="btn btn-primary">Kill Date</span>
        <input
          #killDate
          (ngModelChange)="_utils.localToUnixTimestamp(entryMode.killDate)"
          [(ngModel)]="entryMode.killDate"
          class="form-control"
          type="date"
        />
      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="input-group mb-3">
        <span class="btn btn-primary">Lot #</span>
        <input
          [(ngModel)]="entryMode.lot"
          aria-label=""
          class="form-control"
          disabled
          type="text"
        />
      </div>
    </div>
  </div>
  <div class="progress mt-5">
    <div
      [style.width]="progressValue + '%'"
      aria-valuemax="100"
      aria-valuemin="0"
      aria-valuenow="50"
      class="progress-bar progress-bar-striped progress-bar-animated"
      role="progressbar"
    ></div>
  </div>
  <div
    class="p-5 mt-5 text-center bg-body-tertiary rounded-3 border-info border border-primary"
  >
    <div *ngIf="showDivs[0]" class="col-xs-12 input-group">
      <button class="btn btn-primary" type="button">Bill To</button>
      <input [(ngModel)]="entryMode.billTo" class="form-control" type="text" />
    </div>
    <div *ngIf="showDivs[1]" class="col-xs-12 input-group">
      <div
        class="alert alert-dismissible alert-danger w-100"
        *ngIf="!validRFID"
      >
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
        ></button>
        <strong>RFID already Exist!</strong>
      </div>
      <button class="btn btn-primary" type="button">RFID</button>
      <input
        #rfid
        [(ngModel)]="entryMode.rfid"
        (keyup)="validateEachEntry()"
        class="form-control"
        type="text"
      />
    </div>
    <div *ngIf="showDivs[2]" class="col-xs-12">
      <h2 class="text-center text-primary mb-30">Select Animal</h2>
      <div class="row">
        <div class="text-center">
          <button
            (click)="selectAnimalButton(animalButtonIndex, animalButton)"
            *ngFor="
              let animalButton of animalButtons;
              index as animalButtonIndex
            "
            [ngClass]="{
                'btn-primary': activeAnimalButtonIndex === animalButtonIndex,
                'btn-outline-primary':
                  activeAnimalButtonIndex !== animalButtonIndex,
              }"
            class="col-sm-3 btn btn-outline-primary m-2"
            type="button"
          >
            {{ animalButton }}
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="showDivs[3]" class="col-xs-12 input-group">
      <button class="btn btn-primary" type="button">Weight/Head</button>
      <input
        #weightHead
        [(ngModel)]="entryMode.weight"
        class="form-control"
        type="number"
        (ngModelChange)="validateWeight()"
        placeholder="Weight in Pounds / Head"
      />
    </div>
    <div *ngIf="showDivs[4]" class="input-group">
      <button class="btn btn-primary col-md-2 col-xs-1" type="button">
        Owner
      </button>
      <div class="col-md-10 col-xs-11">
        <input
          #owner
          [(ngModel)]="entryMode.owner"
          class="form-control"
          type="text"
          placeholder="Search owner..."
          (keyup)="filterOwners()"
          (focus)="showDropdown = true"
          (blur)="hideDropdownWithDelay()"
          autocomplete="off"
        />
        <ul
          *ngIf="showDropdown"
          class="dropdown-menu show"
          [ngClass]="{ 'd-none': filteredOwners.length === 0 }"
        >
          <li
            *ngFor="let owner of filteredOwners"
            class="dropdown-item"
            (click)="selectOwner(owner)"
          >
            {{ owner }}
          </li>
        </ul>
      </div>
    </div>
    <div *ngIf="showDivs[5]" class="col-xs-12 input-group">
      <button class="btn btn-primary" type="button">Notes</button>
      <input
        #notes
        [(ngModel)]="entryMode.notes"
        class="form-control"
        type="text"
        value="NA"
      />
    </div>
    <div *ngIf="showDivs[6]" class="col-xs-12">
      <h2 class="text-center text-primary mb-30">Select Breed</h2>
      <div class="row">
        <div class="text-center">
          <button
            (click)="toggleBreedButtonSelection(button)"
            *ngFor="let button of breedButtons"
            [ngClass]="{
                'btn-primary': isBreedButtonSelected(button),
                'btn-outline-primary-override': !isBreedButtonSelected(button),
              }"
            class="col-sm-2 col-md-2 btn m-2"
            type="button"
          >
            {{ button }}
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="showDivs[7]" class="col-xs-12">
      <h2 class="text-center text-primary mb-30">Select Sex</h2>
      <div class="row">
        <div class="text-center">
          <input
            *ngFor="let sexButton of sexButtons; index as sexButtonIndex"
            (click)="selectSexButton(sexButtonIndex, sexButton)"
            [ngClass]="{
                'btn-primary': activeSexButtonIndex === sexButtonIndex,
                'btn-outline-primary': activeSexButtonIndex !== sexButtonIndex,
              }"
            class="col-sm-2 btn btn-outline-primary m-2"
            type="button"
            value="{{ sexButton }}"
          />
        </div>
      </div>
    </div>
    <div *ngIf="showDivs[8]" class="col-xs-12">
      <h2 class="text-center text-primary mb-30">Select Condemnation</h2>
      <div class="row">
        <div class="text-center">
          <button
            (click)="toggleCondemnationButtonSelection(button)"
            *ngFor="let button of condemnationButtons"
            [ngClass]="{
                'btn-primary': isCondemnationButtonSelected(button),
                'btn-outline-primary-override':
                  !isCondemnationButtonSelected(button),
              }"
            class="col-sm-2 col-md-3 btn m-2"
            type="button"
          >
            {{ button }}
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="showDivs[9]" class="col-xs-12">
      <h2 class="text-center text-primary mb-30">OTM</h2>
      <div
        class="form-check form-check-inline"
        *ngFor="let otmValue of otmValues"
      >
        <input
          [(ngModel)]="entryMode.otm"
          class="form-check-input"
          type="radio"
          value="{{ otmValue.value }}"
          (ngModelChange)="validateEachEntry()"
        />
        <label class="form-check-label">{{ otmValue.name }}</label>
      </div>
    </div>
    <div *ngIf="showDivs[10]" id="summary">
      <h2 class="text-primary mb-2-5-rem">Summary</h2>
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="input-group mb-2">
            <span class="btn-primary spanLabel">Bill To</span>
            <input
              class="form-control"
              readonly
              type="text"
              value="{{ entryMode.billTo }}"
            />
            <button (click)="edit(0)" class="btn btn-primary" type="button">
              <span class="chevron-double-left"></span>
              <i class="bi bi-pencil-square"></i>
            </button>
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="input-group mb-2">
            <span class="btn-primary spanLabel">RFID</span>
            <input
              class="form-control"
              readonly
              type="text"
              value="{{ entryMode.rfid }}"
            />
            <button (click)="edit(1)" class="btn btn-primary" type="button">
              <i class="bi bi-pencil-square"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="input-group mb-2">
            <span class="btn-primary spanLabel">Animal</span>
            <input
              class="form-control"
              type="text"
              value="{{ entryMode.animal }}"
              readonly
            />
            <button (click)="edit(2)" class="btn btn-primary" type="button">
              <i class="bi bi-pencil-square"></i>
            </button>
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="input-group mb-2">
            <span class="btn-primary spanLabel">Weight/Head</span>
            <input
              class="form-control"
              readonly
              type="text"
              value="{{ entryMode.weight }}"
            />
            <button (click)="edit(3)" class="btn btn-primary" type="button">
              <i class="bi bi-pencil-square"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="input-group mb-2">
            <span class="btn-primary spanLabel">Owner</span>
            <input
              class="form-control"
              readonly
              type="text"
              value="{{ entryMode.owner }}"
            />
            <button (click)="edit(4)" class="btn btn-primary" type="button">
              <i class="bi bi-pencil-square"></i>
            </button>
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="input-group mb-2">
            <span class="btn-primary spanLabel">OTM</span>
            <input
              class="form-control"
              readonly
              type="text"
              value="{{ entryMode.otm }}"
            />
            <button (click)="edit(9)" class="btn btn-primary" type="button">
              <i class="bi bi-pencil-square"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="input-group mb-2">
            <span class="btn-primary spanLabel">Sex</span>
            <input
              class="form-control"
              readonly
              type="text"
              value="{{ entryMode.sex }}"
            />
            <button (click)="edit(7)" class="btn btn-primary" type="button">
              <i class="bi bi-pencil-square"></i>
            </button>
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="input-group mb-2">
            <span class="btn-primary spanLabel">Notes</span>
            <input
              class="form-control"
              disabled
              type="text"
              value="{{ entryMode.notes }}"
            />
            <button (click)="edit(5)" class="btn btn-primary" type="button">
              <i class="bi bi-pencil-square"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-6">
          <div class="card mb-3 text-left">
            <div class="card-header text-white bg-primary">
              <span class="fs-5">Breed</span>
              <button
                (click)="edit(6)"
                class="btn btn-primary float-end"
                type="button"
              >
                <i class="bi bi-pencil-square"></i>
              </button>
            </div>
            <div class="card-body bg-default">
              <p class="card-text text-start">
                {{ getRecordsAsString(entryMode.breed) }}
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-3 text-left">
            <div class="card-header text-white bg-primary">
              <span class="fs-5">Condemnation</span>
              <button
                (click)="edit(8)"
                class="btn btn-primary float-end"
                type="button"
              >
                <i class="bi bi-pencil-square"></i>
              </button>
            </div>
            <div class="card-body bg-default">
              <p class="card-text text-start">
                {{ getRecordsAsString(entryMode.condemnation) }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5 mb-10">
    <div
      class="col-md-3 col-xs-12"
      *ngIf="!enableSubmitBtn && !editMode && !enableReloadBtn"
    >
      <button
        (click)="prev()"
        [disabled]="counter < 1"
        class="btn btn-primary float-start w-100"
      >
        <i class="bi bi-chevron-double-left">&nbsp;</i>
        Previous
      </button>
    </div>
    <div class="col-md-3 col-xs-12 offset-md-6 mt-2 mt-md-0">
      <button
        (click)="next()"
        *ngIf="!enableSubmitBtn && !editMode && !enableReloadBtn"
        class="btn btn-primary float-end w-100"
        [disabled]="!isValid[counter]"
      >
        Next&nbsp;<i class="bi bi-chevron-double-right"></i>
      </button>
    </div>
    <div class="text-center">
      <button
        (click)="submit()"
        *ngIf="enableSubmitBtn && !editMode && !enableReloadBtn"
        class="btn btn-primary btn-block d-md-inline-block"
      >
        Submit
      </button>
      <button
        (click)="reloadPage()"
        *ngIf="enableReloadBtn && !enableSubmitBtn"
        class="btn btn-primary btn-block d-md-inline-block"
      >
        Add New Entry
      </button>
      <button
        class="btn btn-primary btn-block d-md-inline-block"
        *ngIf="editMode && !enableReloadBtn"
        (click)="showSummary()"
      >
        Back to Summary
      </button>
    </div>
  </div>
</div>
<app-print-pdf></app-print-pdf>
