<div class="container p-2">
  <div class="text-primary mt-5 text-center">
    <h1 class="text-primary">
      <strong>Payment Records</strong>
    </h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="searchModeForm" (submit)="onSearch()">
        <div class="rounded-3 border border-primary p-1 p-sm-0 p-md-5 mt-5">
          <div class="row mb-3">
            <div class="col-md-4 mb-md-0 mb-3">
              <div class="input-group">
                <button class="btn btn-primary" type="button">
                  First Name
                </button>
                <input
                  formControlName="firstName"
                  class="form-control"
                  type="text"
                  placeholder="Eg: John"
                />
              </div>
            </div>
            <div class="col-md-4 mb-md-0 mb-3">
              <div class="input-group">
                <span class="btn btn-primary">Last Name</span>
                <input
                  formControlName="lastName"
                  class="form-control"
                  type="text"
                  placeholder="Eg: Doe"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group">
                <span class="btn btn-primary">Payment Status</span>
                <select class="form-select" formControlName="paymentStatus">
                  <option value="">Select Payment Status</option>
                  <option
                    *ngFor="let status of paymentStatusOptions"
                    [value]="status.key"
                  >
                    {{ status.value }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-4 mb-md-0 mb-3">
              <div class="input-group">
                <button class="btn btn-primary" type="button">Due Date</button>
                <input
                  formControlName="dueDate"
                  class="form-control"
                  type="date"
                  placeholder="Owner"
                />
              </div>
            </div>
            <div class="col-md-4 mb-md-0 mb-3">
              <div class="input-group">
                <button class="btn btn-primary" type="button">
                  Address Line 1
                </button>
                <input
                  formControlName="addressLine1"
                  class="form-control"
                  type="text"
                  placeholder="Enter Address Line 1"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group">
                <button class="btn btn-primary" type="button">
                  Address Line 2
                </button>
                <input
                  formControlName="addressLine2"
                  class="form-control"
                  type="text"
                  placeholder="Enter Address Line 2"
                />
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-4 mb-md-0 mb-3">
              <div class="input-group">
                <span class="btn btn-primary">City</span>
                <input
                  formControlName="city"
                  class="form-control"
                  type="text"
                  placeholder="Enter City Name"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group">
                <span class="btn btn-primary">Country</span>
                <input
                  formControlName="country"
                  class="form-control"
                  type="text"
                  placeholder="Enter Country Name"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group">
                <span class="btn btn-primary">Province/State</span>
                <input
                  formControlName="provinceOrState"
                  class="form-control"
                  type="text"
                  placeholder="Enter Province/State"
                />
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-3 mb-md-0 mb-3">
              <div class="input-group">
                <span class="btn btn-primary">Postal Code</span>
                <input
                  formControlName="postalCode"
                  class="form-control"
                  type="text"
                  placeholder="Enter Postal Code"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                <span class="btn btn-primary">Phone Number</span>
                <input
                  formControlName="phoneNumber"
                  class="form-control"
                  type="tel"
                  placeholder="Enter Phone Number"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                <span class="btn btn-primary">Email</span>
                <input
                  formControlName="email"
                  class="form-control"
                  type="email"
                  placeholder="Enter Email"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                <span class="btn btn-primary">Currency</span>
                <input
                  formControlName="currency"
                  class="form-control"
                  type="tel"
                  placeholder="Enter Currency"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="text-center mt-5 mb-5">
          <button type="submit" class="btn btn-primary btn-lg">Search</button>
          <a [routerLink]="['/add-payment']" class="btn btn-primary ms-5 btn-lg"
            >Add
          </a>
          <button class="btn btn-primary ms-5 btn-lg" (click)="resetSearch()">
            Reset
          </button>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="enableLoader" class="d-flex justify-content-center mt-3">
    <div
      class="spinner-grow text-primary"
      style="width: 1rem; height: 1rem"
      role="status"
    >
      <span class="visually-hidden">Loading...</span>
    </div>
    <div
      class="spinner-grow text-primary"
      style="width: 1rem; height: 1rem"
      role="status"
    >
      <span class="visually-hidden">Loading...</span>
    </div>
    <div
      class="spinner-grow text-primary"
      style="width: 1rem; height: 1rem"
      role="status"
    >
      <span class="visually-hidden">Loading...</span>
    </div>
    <div
      class="spinner-grow text-primary"
      style="width: 1rem; height: 1rem"
      role="status"
    >
      <span class="visually-hidden">Loading...</span>
    </div>
    <div
      class="spinner-grow text-primary"
      style="width: 1rem; height: 1rem"
      role="status"
    >
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div class="table-responsive justify-content-center" *ngIf="records.length">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="text-white bg-primary text-center">#</th>
          <th class="text-white bg-primary text-center">Creation Date</th>
          <th class="text-white bg-primary text-center">First Name</th>
          <th class="text-white bg-primary text-center">Last Name</th>
          <th class="text-white bg-primary text-center">Payment Status</th>
          <th class="text-white bg-primary text-center">Due Date</th>
          <th class="text-white bg-primary text-center">Total Due</th>
          <th class="text-white bg-primary text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of records; let i = index">
          <td class="text-nowrap text-center">{{ i + 1 }}</td>
          <td class="text-nowrap text-center">
            {{ _utils.unixTimestampToLocal(record.addedDateUTC, true) }}
          </td>
          <td class="text-nowrap text-center">
            {{ record.firstName }}
          </td>
          <td class="text-nowrap text-center">
            {{ record.lastName }}
          </td>
          <td
            class="text-nowrap text-center"
            *ngIf="record.paymentStatus === 'completed'"
          >
            <a target="_blank" href="{{ record.evidenceFileUrl }}">Completed</a>
          </td>
          <td
            class="text-nowrap text-center"
            *ngIf="record.paymentStatus === 'due_now'"
          >
            Due Now
          </td>
          <td
            class="text-nowrap text-center"
            *ngIf="record.paymentStatus === 'overdue'"
          >
            Overdue
          </td>
          <td
            class="text-nowrap text-center"
            *ngIf="record.paymentStatus === 'pending'"
          >
            Pending
          </td>
          <td class="text-nowrap text-center">{{ record.dueDate }}</td>
          <td class="text-nowrap text-center">{{ record.totalDue }}</td>
          <td>
            <div class="text-center">
              <a
                [routerLink]="['/view-payment', record.id]"
                class="btn btn-outline-info"
                >View</a
              >
              <a
                [routerLink]="['/edit-payment', record.id]"
                class="btn btn-outline-primary ms-2"
                >Edit</a
              >

              <button
                class="btn btn-outline-danger ms-2"
                (click)="deleteRecord(record.id)"
              >
                Delete
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-center mt-3">
    <nav>
      <ul class="pagination">
        <!-- First Page Button -->
        <li class="page-item" [class.disabled]="currentPage === 1">
          <button class="page-link" (click)="changePage(1)">First</button>
        </li>

        <!-- Previous Page Button -->
        <li class="page-item" [class.disabled]="currentPage === 1">
          <button class="page-link" (click)="changePage(currentPage - 1)">
            Previous
          </button>
        </li>

        <!-- Dynamic Range of Pages -->
        <li
          class="page-item"
          *ngFor="let page of visiblePages"
          [class.active]="page === currentPage"
        >
          <button class="page-link" (click)="changePage(page)">
            {{ page }}
          </button>
        </li>

        <!-- Next Page Button -->
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <button class="page-link" (click)="changePage(currentPage + 1)">
            Next
          </button>
        </li>

        <!-- Last Page Button -->
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <button class="page-link" (click)="changePage(totalPages)">
            Last
          </button>
        </li>
      </ul>
    </nav>
  </div>
</div>
