<div class="container mb-35-rem">
  <h2 class="text-center text-primary mt-5">Add SRM Shipping Record</h2>
  <hr />
  <div
    class="row justify-content-center p-5 bg-body-tertiary rounded-3 border-info border border-primary"
  >
    <div class="col-md-4 col-xs-12">
      <div class="input-group">
        <button class="btn btn-primary" readonly type="button">Date</button>
        <input
          [(ngModel)]="srmRecord.date"
          class="form-control"
          type="date"
          (ngModelChange)="getAllSRMRecord()"
        />
      </div>
    </div>
    <div class="col-md-4 col-xs-12 mt-3 mt-md-0">
      <div class="input-group">
        <input
          [(ngModel)]="srmRecord.srmEodWeight"
          class="form-control"
          type="number"
          placeholder="Weight in Pounds"
        />
        <input
          class="btn btn-success"
          type="button"
          (click)="saveSrmEodWeight()"
          value="Add"
          [disabled]="disableAddButton"
        />
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4 col-xs-10 mt-5">
        <div class="table-responsive">
          <table
            class="table table-striped table-hover table-bordered table table-sm"
          >
            <thead>
              <tr>
                <th>#</th>
                <th>DateTime</th>
                <th>Weight(pounds)</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let record of records; let i = index">
                <td class="text-nowrap">{{ i + 1 }}</td>
                <td class="text-nowrap">
                  {{ _utils.unixTimestampToLocal(record.date) }}
                </td>
                <td class="text-nowrap">{{ record.weight }}</td>
                <td>
                  <div class="d-grid gap-2 col-6 mx-auto">
                    <button
                      class="btn btn-danger text-center"
                      (click)="rmRecord(record.date)"
                    >
                      <i class="bi bi-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
