
   #pdf-content table {
    font-size: 35px;
    border-collapse: collapse;
  }


   #pdf-content table,
   #pdf-content th,
   #pdf-content td {
     border: 1px solid black;
     padding: 2px;
     color: black;
   }

 .table {
    width: 12in;
    height: 8in;
    table-layout: fixed; 
  }


   .font-size{
    font-size: 55px;
   }