<div class="card">
  <div class="card-header text-white bg-primary">
    Today's Statistics
  </div>
  <div class="card-body">
    <span class="card-text">Total Entries: <strong>{{ statistics_today.total_bovine }}</strong></span><br>
    <hr>
    <span class="card-text">Total Weight: <strong>{{ statistics_today.sum_wt_bovine }}</strong></span><br>
    <hr>
    <span class="card-text">Avg Weight: <strong>{{ statistics_today.avg_wt_bovine }}</strong></span><br>
    <hr>
    <span class="card-text">Max Weight: <strong>{{ statistics_today.max_weight }}</strong></span><br>
    <hr>
    <span class="card-text">Max Wt. Owner: <strong>{{ statistics_today.max_wt_owner }}</strong></span><br>
  </div>
</div>
<hr>
<h5>Heads: {{ statistics_today.total_head }}</h5>
<hr>
<div class="card">
  <div class="card-header text-white bg-primary">
    Overall Statistics
  </div>
  <div class="card-body">
    <span class="card-text">Total Entries: <strong>{{ statistics_total.total_bovine }}</strong></span><br>
    <hr>
    <span class="card-text">Total Weight: <strong>{{ statistics_total.sum_wt_bovine }}</strong></span><br>
    <hr>
    <span class="card-text">Avg Weight: <strong>{{ statistics_total.avg_wt_bovine }}</strong></span><br>
    <hr>
    <span class="card-text">Max Weight: <strong>{{ statistics_total.max_weight }}</strong></span><br>
    <hr>
    <span class="card-text">Max Wt. Owner: <strong>{{ statistics_total.max_wt_owner }}</strong></span><br>
  </div>
</div>
<hr>
<h5>Heads: {{ statistics_total.total_head }}</h5>
