<div class="d-flex align-items-center py-4 mt-10">
  <main class="form-signin w-100 m-auto">
    <div>
      <img alt="logo" class="rounded mx-auto d-block" id="logo" src="images/logo.png">
      <h1 class="h3 mb-3 fw-normal text-primary text-center">Please sign in</h1>
      <div class="form-select" class="form-floating">
        <select [(ngModel)]="userName" class="form-select" id="usernameId" name="usernameId">
          <option *ngFor="let userName of userNames" [ngValue]="userName">{{ userName }}</option>
        </select>
        <label for="usernameId">User Name</label>
      </div>
      <div class="form-floating">
        <input [(ngModel)]="password" class="form-control" id="floatingPassword" placeholder="Password" type="password">
        <label for="floatingPassword">Password</label>
      </div>
      <button (click)="onLogin()" class="btn btn-primary w-100 py-2">Sign in</button>
    </div>
  </main>
</div>
