<!-- The Modal -->
<div class="modal fade" id="paymentModel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Product</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive justify-content-center">
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="text-white bg-primary text-center text-primary">
                  ID
                </th>
                <th class="text-white bg-primary text-center">Animal</th>
                <th class="text-white bg-primary text-center">Class</th>
                <th class="text-white bg-primary text-center">Live</th>
                <th class="text-white bg-primary text-center">Rail</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products">
                <td class="text-nowrap text-center">{{ product.id }}</td>
                <td class="text-nowrap text-center">{{ product.animal }}</td>
                <td class="text-nowrap text-center">{{ product.class }}</td>
                <td class="text-nowrap text-center">
                  <input
                    type="number"
                    [(ngModel)]="product.cp"
                    (ngModelChange)="recordChangeInCP(product.id, product.cp)"
                  />
                </td>
                <td class="text-nowrap text-center">
                  {{ (product.cp / 0.53).toFixed(2) }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="updateProducts()"
        >
          Update
        </button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center text-primary mb-30 mt-5 mb-5">Payment</h1>
      <div
        class="mb-3 p-4 mt-5 text-center bg-body-tertiary rounded-3 border-info border border-primary"
      >
        <div class="row mb-md-3">
          <div class="col-md-6 mb-md-0 mb-3">
            <div class="input-group">
              <span class="btn btn-primary">Bill#</span>
              <input
                [(ngModel)]="payMode.bill"
                (ngModelChange)="searchByBilledNumber()"
                class="form-control"
                type="number"
              />
            </div>
          </div>
          <div class="col-md-6 mb-md-0 mb-3">
            <div class="input-group">
              <span class="btn btn-primary">Lot</span>
              <input
                [(ngModel)]="payMode.lot"
                class="form-control"
                type="number"
              />
            </div>
          </div>
        </div>
        <div class="row mb-md-3">
          <div class="col-md-6 mb-md-0 mb-3">
            <div class="input-group">
              <span class="btn btn-primary">Destination</span>
              <input
                [(ngModel)]="payMode.destination"
                class="form-control"
                type="text"
              />
            </div>
          </div>
          <div class="col-md-6 mb-md-0 mb-3">
            <div class="input-group">
              <span class="btn btn-primary">Owner</span>
              <input
                [(ngModel)]="payMode.owner"
                class="form-control"
                type="text"
              />
            </div>
          </div>
        </div>
        <div class="row mb-md-3">
          <div class="col-md-6 mb-md-0 mb-3">
            <div class="input-group">
              <span class="btn btn-primary">Kill Date From</span>
              <input
                [(ngModel)]="payMode.killDateFrom"
                class="form-control"
                type="date"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <span class="btn btn-primary">Kill Date To</span>
              <input
                [(ngModel)]="payMode.killDateTo"
                class="form-control"
                type="date"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center gap-2">
        <button
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#paymentModel"
        >
          Product Pricing
        </button>
        <button class="btn btn-success" (click)="onSearch()">Search</button>
        <button class="btn btn-warning" (click)="reset()">Reset</button>
      </div>
      <hr />

      <!-- Search by billed number -->
      <div
        *ngIf="paginatedBilledData.length > 0 || billedData.records.length > 0"
      >
        <div class="table-responsive justify-content-center">
          <table class="table table-hover table-sm">
            <thead>
              <tr>
                <th class="text-white bg-primary text-center">#</th>
                <th class="text-white bg-primary text-center">Date</th>
                <th class="text-white bg-primary text-center">Lot #</th>
                <th class="text-white bg-primary text-center">Animal</th>
                <th class="text-white bg-primary text-center">RFID SERIAL</th>
                <th class="text-white bg-primary text-center">Owner</th>
                <th class="text-white bg-primary text-center">Notes</th>
                <th class="text-white bg-primary text-center">L Price</th>
                <th class="text-white bg-primary text-center">R Price</th>
                <th class="text-white bg-primary text-center">Weight/Head</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of paginatedBilledData; let i = index">
                <td class="text-nowrap text-center text-primary">
                  {{ i + 1 }}
                </td>
                <td class="text-nowrap text-center">
                  {{ _utils.unixTimestampToLocal(product.id) }}
                </td>
                <td class="text-nowrap text-center">{{ product.lot }}</td>
                <td class="text-nowrap text-center">{{ product.animal }}</td>
                <td class="text-nowrap text-center">{{ product.rfid }}</td>
                <td class="text-nowrap text-center">{{ product.owner }}</td>
                <td class="text-nowrap text-center">{{ product.notes }}</td>
                <td class="text-nowrap text-center">
                  {{ product.list_price }}
                </td>
                <td class="text-nowrap text-center">
                  {{ product.retail_price }}
                </td>
                <td class="text-nowrap text-center">{{ product.weight }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr />
        <app-pagination
          class="mt-3"
          [totalItems]="billedData.records.length"
          [itemsPerPage]="recordsPerPage"
          [(currentPage)]="currentPage"
        >
        </app-pagination>
        <div class="d-flex justify-content-center mt-3">
          <a
            (click)="downloadBillPDF()"
            class="text-primary"
            style="margin-right: 2rem; font-size: 3.5rem"
            ><i class="bi bi-filetype-pdf"></i
          ></a>
          <i
            class="bi bi-trash3"
            style="font-size: 3.5rem; color: red"
            (click)="deleteBill(this.payMode.bill)"
          ></i>
        </div>
      </div>

      <!-- Search by Lot/Owner/KillDate -->
      <div *ngIf="payRecords.length > 0">
        <div class="table-responsive justify-content-center">
          <table class="table table-hover table-sm">
            <thead>
              <tr>
                <th class="text-white bg-primary text-center">#</th>
                <th class="text-white bg-primary text-center">Date</th>
                <th class="text-white bg-primary text-center">Lot #</th>
                <th class="text-white bg-primary text-center">Animal</th>
                <th class="text-white bg-primary text-center">RFID SERIAL</th>
                <th class="text-white bg-primary text-center">Owner</th>
                <th class="text-white bg-primary text-center">Notes</th>
                <th class="text-white bg-primary text-center">L Price</th>
                <th class="text-white bg-primary text-center">R Price</th>
                <th class="text-white bg-primary text-center">Weight/Head</th>
                <th class="text-white bg-primary text-center">
                  Billed
                  <input
                    type="button"
                    class="btn btn-warning btn-xs"
                    id="gbtn"
                    value="G"
                    style="padding: 0.1rem 0.3rem"
                    (click)="generateBill()"
                  /><span id="gbill"></span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of paginatedPayRecords; let i = index">
                <td class="text-nowrap text-center text-primary">
                  {{ i + 1 }}
                </td>
                <td class="text-nowrap">
                  {{ _utils.unixTimestampToLocal(product.id) }}
                </td>
                <td class="text-nowrap text-center">
                  {{ product.lot }}
                </td>
                <td class="text-nowrap text-center">
                  {{ product.animal }}
                </td>
                <td class="text-nowrap text-center">
                  {{ product.rfid }}
                </td>
                <td class="text-nowrap text-center">
                  {{ product.owner }}
                </td>
                <td class="text-nowrap text-center">
                  {{ product.notes }}
                </td>
                <td class="text-nowrap text-center">
                  {{ product.list_price }}
                </td>
                <td class="text-nowrap text-center">
                  {{ product.retail_price }}
                </td>
                <td class="text-nowrap text-center">
                  {{ product.weight }}
                </td>
                <td class="text-center align-middle">
                  <div
                    class="form-check form-switch d-flex justify-content-center"
                  >
                    <input
                      *ngIf="product.billed == 0"
                      class="form-check-input mx-auto"
                      type="checkbox"
                      (change)="onPayRecordsCheckBoxChange(product.id, $event)"
                    />
                    <p class="text-center" *ngIf="product.billed">
                      {{ product.billed }}
                    </p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <app-pagination
          [totalItems]="payRecords.length"
          [itemsPerPage]="recordsPerPage"
          [(currentPage)]="currentPage"
        >
        </app-pagination>
        <div class="d-flex justify-content-center mt-3">
          <a
            class="text-primary"
            target="_blank"
            (click)="downloadSearchPDF()"
            style="margin-right: 2rem; font-size: 3.5rem"
            ><i class="bi bi-filetype-pdf"></i
          ></a>
        </div>
      </div>

      <div class="d-flex justify-content-center mt-3">
        <div *ngIf="enableLoader">
          <div
            class="spinner-grow text-primary"
            style="width: 1rem; height: 1rem"
            role="status"
          >
            <span class="visually-hidden">Loading...</span>
          </div>
          <div
            class="spinner-grow text-primary"
            style="width: 1rem; height: 1rem"
            role="status"
          >
            <span class="visually-hidden">Loading...</span>
          </div>
          <div
            class="spinner-grow text-primary"
            style="width: 1rem; height: 1rem"
            role="status"
          >
            <span class="visually-hidden">Loading...</span>
          </div>
          <div
            class="spinner-grow text-primary"
            style="width: 1rem; height: 1rem"
            role="status"
          >
            <span class="visually-hidden">Loading...</span>
          </div>
          <div
            class="spinner-grow text-primary"
            style="width: 1rem; height: 1rem"
            role="status"
          >
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="col-md-12" #billedPDFTableContainer>
      <div
        *ngFor="
          let billChunk of chunkedBilledRecords;
          let billedChunkIndex = index
        "
        [hidden]="false"
      >
        <table
          class="table table-borderless table-sm"
          style="border-collapse: collapse"
          #billedPDFTableElements
        >
          <thead>
            <tr>
              <td class="text-start" style="width: 5%">
                <strong>Name:</strong>
              </td>
              <td colspan="2">{{ billedData.owner }}</td>
              <td class="text-end" colspan="2"><strong>Bill#:</strong></td>
              <td>{{ billedData.max_billed }}</td>
              <td colspan="4" style="text-align: right">
                <strong>Date:</strong>&nbsp;&nbsp;{{ billedData.billed_date }}
              </td>
            </tr>
            <tr>
              <td colspan="10"><hr /></td>
            </tr>
            <tr>
              <td colspan="1" style="text-align: left; vertical-align: top">
                <strong>Sold To:</strong>
              </td>
              <td colspan="9">
                2030044<br />18619 Simcoe Street<br />Oakwood, ON<br />K0M 2M0
              </td>
            </tr>
            <tr>
              <td colspan="10"><hr /></td>
            </tr>
            <tr class="text-end">
              <th style="width: 5%">#</th>
              <th style="width: 10%">DATE</th>
              <th style="width: 7%">LOT #</th>
              <th style="width: 10%">ANIMAL</th>
              <th style="width: 15%">RFID SERIAL</th>
              <th style="width: 8%">NOTES</th>
              <th style="width: 10%">WT/HEAD</th>
              <th style="width: 8%">LIVEPRICE</th>
              <th style="width: 8%">RAILPRICE</th>
              <th style="width: 10%">TOTAL</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="text-end"
              *ngFor="
                let billRecordPDF of billChunk;
                let billedRecordPDFIndex = index
              "
            >
              <td style="width: 5%">
                {{ billedChunkIndex * 28 + billedRecordPDFIndex + 1 }}
              </td>
              <td style="width: 18%">
                {{ _utils.unixTimestampToLocal(billRecordPDF.id) }}
              </td>
              <td style="width: 7%">{{ billRecordPDF.lot }}</td>
              <td style="width: 10%">{{ billRecordPDF.animal }}</td>
              <td style="width: 15%">{{ billRecordPDF.rfid }}</td>
              <td style="width: 15%">{{ billRecordPDF.owner }}</td>
              <td style="width: 8%">{{ billRecordPDF.notes }}</td>
              <td style="width: 8%">
                ${{
                  billRecordPDF.list_price != null
                    ? billRecordPDF.list_price.toFixed(3)
                    : "NA"
                }}
              </td>
              <td style="width: 8%">
                ${{
                  billRecordPDF.retail_price != null
                    ? billRecordPDF.retail_price.toFixed(3)
                    : "NA"
                }}
              </td>
              <td style="width: 10%">{{ billRecordPDF.weight }}</td>
            </tr>
            <tr>
              <td colspan="10"><hr /></td>
            </tr>
            <tr class="text-end">
              <td colspan="6"></td>
              <td colspan="1">
                <strong>{{ billedData.total_wt }}</strong>
              </td>
              <td></td>
              <td>{{ billedData.total_pay / billedData.total_wt }}</td>
              <td>
                <strong
                  >${{
                    billedData.total_pay != null
                      ? billedData.total_pay.toFixed(3)
                      : "NA"
                  }}</strong
                >
              </td>
            </tr>
            <tr>
              <td colspan="10"><hr /></td>
            </tr>
            <tr class="text-end">
              <td colspan="8"></td>
              <td>
                <strong>Bonus({{ billedData.bonus_comments }})</strong>
              </td>
              <td>
                ${{
                  billedData.bonus != null ? billedData.bonus.toFixed(3) : "NA"
                }}
              </td>
            </tr>
            <tr>
              <td colspan="10"><hr /></td>
            </tr>
            <tr class="text-end">
              <td colspan="8"></td>
              <td>
                <strong
                  >Deductions({{ billedData.deductions_comments }})</strong
                >
              </td>
              <td>
                ${{
                  billedData.deductions != null
                    ? billedData.deductions.toFixed(3)
                    : "NA"
                }}
              </td>
            </tr>
            <tr>
              <td colspan="10"><hr /></td>
            </tr>
            <tr class="text-end">
              <td colspan="8"></td>
              <td><strong>Grant Total</strong></td>
              <td>
                <strong
                  >${{
                    billedData.total_pay != null &&
                    billedData.bonus != null &&
                    billedData.deductions != null
                      ? (
                          billedData.total_pay +
                          billedData.bonus -
                          billedData.deductions
                        ).toFixed(3)
                      : "NA"
                  }}</strong
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
