.pagination .page-item.active .page-link {
  background-image: linear-gradient(#7191b3, #446e9b 50%, #3f658f);
  border: 1px solid #36587c;
  color: white;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, .1);
}
